body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Lato', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.PokemonImage {
  width: 325px;
  height: 288px;
  
}

.ButtonLink {
  padding: 11px 20px;
  width: 131px;
  height: 44px;  
  background: #F22539;
  border-radius: 60px;
  text-decoration: none;
  color: white;
  text-transform: inherit;
  
}

.ButtonLink:hover{
  
}

.backgroundModalImage{
  width: 100%;
}


